<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/LargeLog.jpg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Stuart Smith</h3>
      </div>

      <div class="text-center">@StuartSmith</div>
      <div class="text-center">
        <a href="http://www.waterfrontsoftware.com">www.waterfrontsoftware.com</a>
      </div>
    </div>
  </div>
</div>