<div class="crop"        
        [title]="cropWidth"
        style= "width: 50px;"
        [style.width.px]="cropWidth"
        (click)='onClick()' >        
        <!--<div style="width:100 px">-->
            <span>               
                <fa-icon  [icon]="faStar"></fa-icon>
                <fa-icon  [icon]="faStar"></fa-icon>
                <fa-icon  [icon]="faStar"></fa-icon>
                <fa-icon  [icon]="faStar"></fa-icon>
                <fa-icon  [icon]="faStar"></fa-icon>
            </span>               
</div>